*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --active-color: #fff;
    --active-bg-color: #0a0a0a;
}
.container {
    height: 100vh;
width:100%;
    background-image: url('../assets/photo-1494548162494-384bba4ab999.jpg');
   background-repeat: round;
    position: relative;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .container .container-overlay {
  background:#0a0a0a;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.form{
    position: fixed;
    top: 40%;
    left: 39%;
}
.img{
    width: 100px;
    /* background-color: transparent; */
    /* margin-left: 107px; */
    /* top: 20%; */
    color: #fff;
    position: absolute;
    top: -77%;
    left: 32%;
    height: 100px;
}
.fm-2{
    padding: 0px 10px;
width: 250px;
    height: 38px;
    background-color: #423a3a;
    border: 1px solid #423a3a;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    /* background-color: #d45e5e00; */
    border-radius: 51px;
    margin: 5px 20px;

}
input::placeholder{
    padding: 10px;

}
.submit{
    text-align: center;
    color: #ffff;
    width: 247px;
    margin: 5px 19px;
    border: 1px solid #d23434;
    height: 38px;
    background-color: #d23434;
    border-radius: 50px;

}
input:focus {
    outline: none !important;
    color: white;
}
  
@media (prefers-reduced-motion: no-preference) {
    .img {
      animation: App-logo-spin infinite 5s linear;
    }
  }
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  